@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

:root {
  --primary-color: rgb(141,44,205);
  --primary-color-dark: rgb(244,228,255);
  --text-dark: #000000;
  --text-light: #878581;
  --extra-light: #f3f4f6;
  --white: #ffffff;
  --max-width: 1200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-dark);
  text-align: center;
  border-bottom: 2px solid var(--primary-color);
  
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: flex;
}

body {
  font-family: "Poppins", sans-serif;
}
 
#wrap{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  position: absolute;
  top: 0;
}
  
nav {
  width: 60%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#option {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
#option a {
  text-decoration: none;
  color: #171717d6;
  font-size: 20px;
}
#option a:hover {
  color: var(--primary-color);
 
}

#profile {
  max-height: 40px;
  max-width: 40px;
  border-radius: 50%;
  overflow: hidden;
}
#profile img, .profile-placeholder {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  object-fit: cover;
}
.profile-placeholder {
  background-color: #878581;
  color: white;
  font-size: 20px;
  font-weight: bold;
}
#profile_box {
  position: absolute;
  top: 60px;
  right: 0;
  width: 290px;
  background-color: rgb(244,228,255);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.617);
  padding: 15px;
  color: black;
  display: none;
  z-index: 100;
}

.profile-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 15px;
}
hr{
 border: 0.5px solid black;
}
.profile-pic {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
}

.profile-name {
  font-size: 19px;
  font-weight: bold;
}

.profile-email {
  font-size: 16px;
  color: #272727;
  padding-bottom: 6px;
}
#profile_border{
  border: 2px solid rgb(8, 8, 8);
  border-radius: 13px;
  padding: 12px;
}
.profile-menu {
  list-style-type: none;
  padding-top: 15px;
}

.profile-menu li {
  margin-bottom: 10px;
}

.profile-menu li a {
  text-decoration: none;
  color: #ffffff;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.profile-menu li a i {
  margin-right: 10px;
}

.profile-mode {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.mode-toggle {
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
}



.header__container {
  padding: 1rem 1rem 5rem 1rem;
  margin-top: 10vh;
}

.header__image__container {
  position: relative;
  min-height: 500px;
  background-image: linear-gradient(
      to right,
      rgba(44, 56, 85, 0.9),
      rgba(100, 125, 187, 0.1)
    ),
    url("../imgs/hotelbackground.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 2rem;
}

.header__content {
  max-width: 600px;
  padding: 5rem 2rem;
}

.header__content h1 {
  margin-bottom: 1rem;
  font-size: 3.5rem;
  line-height: 4rem;
  font-weight: 600;
  color: var(--white);
}

.header__content p {
  color: var(--extra-light);
}
/* Booking Container Styles */
.booking__container {
  position: absolute;
  bottom: -5rem;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 6rem);
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  border-radius: 1.5rem;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  margin-bottom: 35px;
}

.booking__container form {
  width: 100%;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}

.booking__container .form__group {
  width: 100%;
}

.booking__container label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  font-weight: bold;
  color: var(--text-dark);
}

.booking__container input {
  width: 100%;
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid var(--primary-color);
  border-radius: 0.5rem;
  outline: none;
  color: var(--text-dark);
  background-color: rgba(255, 255, 255, 0.7);
}
#search-location{
  width: 100%;
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid var(--primary-color);
  border-radius: 0.5rem;
  outline: none;
  color: var(--text-dark);
  background-color: rgba(255, 255, 255, 0.7);
}
.booking__container input::placeholder {
  color: var(--text-light);
  font-size: 0.9rem;
}

.booking__container input:focus {
  border-color: var(--primary-color-dark);
  background-color: rgba(255, 255, 255, 1);
}

.booking__container .btn {
  padding: 1rem;
  font-size: 1.5rem;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 13px;
  cursor: pointer;
  border: none;

}

.booking__container .btn:hover {
  background-color: var(--primary-color-dark);
}

.popular__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.popular__card {
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}
.popular__card:hover{
  box-shadow: 5px 5px 10px var(--primary-color-dark);
}
.popular__card img {
  width: 100%; /* Ensures the image fills the card's width */
  height: 200px; /* Set a fixed height for consistency */
  object-fit: cover; /* Crops and scales the image to maintain aspect ratio */
  border-radius: 1rem 1rem 0 0; /* Ensures the top corners match the card */
}

.popular__content {
  padding: 1rem;
}

.popular__card__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.popular__card__header h4 {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.popular__content p {
  color: var(--text-light);
}

.client {
  background-color: var(--extra-light);
}

.client__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.client__card {
  padding: 2rem;
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.client__card img {
  max-width: 80px;
  margin: auto;
  margin-bottom: 1rem;
  border-radius: 100%;
}

.client__card p {
  text-align: center;
  color: var(--text-dark);
}

.reward__container {
  padding: 2rem;
  text-align: center;
  border-radius: 2rem;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.reward__container p {
  margin-bottom: 1rem;
  font-weight: 600;
  color: var(--text-light);
}

.reward__container h4 {
  max-width: 500px;
  margin: auto;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.reward__btn {
  padding: 1rem 3rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.reward__btn:hover {
  background-color: var(--primary-color-dark);
}

.footer {
  background-color: var(--primary-color-dark);
}

.footer__container {
  display: grid;
  grid-template-columns: 2fr repeat(3, 1fr);
  gap: 5rem;
}

.footer__col h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
}

.footer__col h4 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--primary-color);
}

.footer__col p {
  margin-bottom: 1rem;
  color: var(--text-light);
  cursor: pointer;
  transition: 0.3s;
}

.footer__col p:hover {
  color: rgb(0, 0, 0);
}

.footer__bar {
  position: relative;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--text-light);
  text-align: right;
  overflow: hidden;
}

.footer__bar::before {
  position: absolute;
  content: "";
  top: 50%;
  right: 28rem;
  transform: translateY(-50%);
  width: 20rem;
  height: 2px;
  background-color: var(--text-light);
}

@media (width < 900px) {
  #warp{
    width: 100%;
    height: 60px;
    background-color: aqua;
  } 
  nav {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
  }
  #option a{
      width: 100%;
      padding-left: 3vw;
    }
    #nav__logo{
    display: flex;
    justify-content: center;
    align-items: start;
     
    }
  .booking__container form {
    grid-template-columns: repeat(2, 1fr);
  }

  .popular__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .client__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width < 600px) {
  nav {
    display: none;
  }

  .header__container {
    padding-bottom: 25rem;
  }

  .booking__container {
    flex-direction: column;
    bottom: -25rem;
  }

  .booking__container form {
    grid-template-columns: repeat(1, 1fr);
  }

  .popular__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .client__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer__container {
    gap: 2rem;
  }
}
